<div class="container booking">
  <div class="booking-header d-flex justify-content-between">
    <h1>Your bookings</h1>
    <%= link_to "More activities", activities_path, class: "btn btn-secondary" %>
  </div>
  <% @bookings.each do |booking| %>
    <% host = User.find(booking.activity.user_id) %>
    <div class="booking-item row">
      <div class="col-md-8 pt-4 ps-4">
        <h2><%= booking.activity.title %></h2>
        <p>With <strong><%= host.first_name %> <%= host.last_name %></strong></p>
        <div class="d-flex">
          <div class="booking-start-time border-end border-secondary-subtle pe-3">
            <p>Starts</p> 
            <p><%= booking.time_start.strftime('%A, %b %d')%></p>
          </div>
          <div class="booking-end-time ps-3">
            <p>Ends</p> 
            <p><%= booking.time_end.strftime('%A, %b %d') %></p>
          </div>
        </div>
        <p class="booking-total-price smaller mt-3"><span></span><%= booking.total_price %> €</p>
      </div>
      <div class="d-none d-md-flex col-md-4 pt-4 pe-4">
        <%= image_tag booking.activity.image, {:class => "activity-thumbnail fit-parent-size"} %>
      </div>
      <div class="booking-review d-flex justify-content-end border-top border-secondary-subtle px-4 pt-3 pb-4">
        <%= link_to "Leave a review", booking_reviews_path(booking), class: "btn btn-outline-primary" %>
      </div>
    </div>
  <% end %>
</div>