<nav class="navbar navbar-expand-lg navbar-light bg-white navglobal">
  <div class="container-fluid">
    <%= link_to activities_path, class: "navbar-brand" do %>
      <%= image_tag "dooit_logo.png"%>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link host" href="/activities/new">Host activities</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
        <%= form_with url: activities_path, method: :get, class:"dooit-search-bar" do %>
          <%= text_field_tag :query,
                      params[:query],
                      class:"form-control search-input",
                      placeholder:"What do you want to do?"  %>

          <%= button_tag class: "search-btn", type: "submit" do %>
            <i class="fas fa-search search-icon"></i>
          <% end %>
        <% end %>
    </div>
    <button class="btn"><i class="fa fa-user"></i> Login</button>
      <li class="nav-item dropdown">
          <img class="avatar dropdown-toggle in-front" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="z-index: 4000;">
              <%= link_to "Host activities", "/activities/new", class: "dropdown-item" %>
              <%= link_to "My activities", "/users/:user_id/activities", class: "dropdown-item" %>
              <%= link_to "My bookings", "/users/:user_id/bookings", class: "dropdown-item" %>
              <%= link_to "Log out", "/users/sign_out", class: "dropdown-item", data: {turbo_method: :delete} %>
          </div>
      </li>
  </div>
</nav>
