<div class="sticky-top bg-light">
  <%= render "shared/navbar" %>

  <!-- This is where i put all the category and after to change it to another category too-->

  <div class="border-top">
    <div id="category" data-controller="change-category" class="d-flex justify-content-around mt-4 mb-4 shadow-bottom">
      <a href="#">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <div style=""><i class="fa-solid fa-palette "></i></div>
          <div style=""><span class="d-block border-bottom border-dark">Art & Culture</span></div>
        </div>
      </a>

      <a href="#">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <div style=""><i class="fa-solid fa-sun"></i></div>
          <div style=""><span class="d-block">Entertainment</span></div>
        </div>
      </a>

      <a href="#">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <div style=""><i class="fas fa-utensils "></i></div>
          <div style=""><span class="d-block">Food & Drink</span></div>
        </div>
      </a>

      <a href="">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <div style=""><i class="fa-solid fa-dumbbell"></i></div>
          <div style=""><span class="d-block">Sport</span></div>
        </div>
      </a>

      <a href="">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <div style=""><i class="fas fa-archway"></i></div>
          <div style=""><span class="d-block">Tours</span></div>
        </div>
      </a>

      <a href="#">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <div style=""><i class="fa-solid fa-plane"></i></div>
          <div style=""><span class="d-block">Sightseeing</span></div>
        </div>
      </a>

      <a href="#">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <div style=""><i class="fa-solid fa-leaf"></i></div>
          <div style=""><span class="d-block">Nature & Outdoors</span></div>
        </div>
      </a>
    </div>
  </div>
</div>

<!--This is where i created all the cards for one activity -->

<div class="card-1">
  <% @activities.each do |activity| %>
  <div class="card-for-the-price">
    <%= link_to activity_path(activity) do %>
      <div class="card-4 " style="background-image: url(<%=activity.image%>); border-radius: 20px"></div>
      <h5 class="black pt-2"><%=activity.title%></h5>
      <p class="gray"><%=activity.description%></p><br>
      <p class="black price-bottom-left"><%if activity.price_per_day != 0 %>
      <%=activity.price_per_day %> €
      <%else%>
      <%="Free activity"%>
      <%end%>
      </p>
      <% end %>
      </div>
    <% end %>
  </div>
</div>

<!-- This is for the "Load more" is a bonus if we can-->

<%# <div class="container-3">
  <div class="content-2">
  <!-- Content goes here -->

  </div>
  <button class="load-more">Load More</button>
</div> %>

<%= render "shared/footer" %>
