<div class="sticky-top bg-light">
  <%= render "shared/navbar" %>

<div class="border-top">
  <div id="category" data-controller="change-category" class="d-flex justify-content-around mt-4 mb-4 shadow-bottom">
      <a href="#">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <div style=""><i class="fa-solid fa-palette "></i></div>
          <div style=""><span class="d-block border-bottom border-dark">Art & Culture</span></div>
        </div>
      </a>

      <a href="#">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <div style=""><i class="fa-solid fa-sun"></i></div>
          <div style=""><span class="d-block">Entertainment</span></div>
        </div>
      </a>

      <a href="#">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <div style=""><i class="fas fa-utensils "></i></div>
          <div style=""><span class="d-block">Food & Drink</span></div>
        </div>
      </a>

      <a href="">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <div style=""><i class="fa-solid fa-dumbbell"></i></div>
          <div style=""><span class="d-block">Sport</span></div>
        </div>
      </a>

      <a href="">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <div style=""><i class="fas fa-archway"></i></div>
          <div style=""><span class="d-block">Tours</span></div>
        </div>
      </a>

      <a href="#">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <div style=""><i class="fa-solid fa-sun"></i></div>
          <div style=""><span class="d-block">Sightseeing</span></div>
        </div>
      </a>

      <a href="#">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <div style=""><i class="fa-solid fa-sun"></i></div>
          <div style=""><span class="d-block">Nature & Outdoors</span></div>
        </div>
      </a>
    </div>
  </div>
</div>
</div>
</div>

  <div class="card-1">
    <% @activities.each do |activity| %>
      <%= link_to activity_path(activity) do %>
        <div class="card-4 " style="background-image: url(<%=activity.image%>); border-radius: 20px"></div>
        <span class="black"><%=activity.title%></span><br>
        <span class="gray"><%=activity.description%></span><br>
        <span class="black"><%if activity.price_per_day != 0 %>
        <%=activity.price_per_day %> €
        <%else%>
        <%="Free activity"%>
        <%end%>
        </span>
      <% end %>
    <% end %>

    <%# <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/znoL1m6MD_k/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/ZhQCZjr9fHo/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/9FMDYPCv8mQ/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/H3APOiYLyzk/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/w_N-XCjiM0o/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/yWF2LLan-_o/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#" class="">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/YrtFlrLo2DQ/1000x500); border-radius: 20px;"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/p-4xI3UPCCY/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/diAfdoI-X6A/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/eWqOgJ-lfiI/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/IZmPdbnb-3I/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/IZmPdbnb-3I/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/IZmPdbnb-3I/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/IZmPdbnb-3I/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/IZmPdbnb-3I/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/IZmPdbnb-3I/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/IZmPdbnb-3I/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a>

    <a href="#">
      <div class="card-4" style="background-image: url(https://source.unsplash.com/IZmPdbnb-3I/1000x500); border-radius: 20px"></div>
      <span class="black">Title</span><br>
      <span class="gray">Description</span><br>
      <span class="black">Price</span>
    </a> %>

  </div>

  <div class="container-3">
    <div class="content-2">
    <!-- Content goes here -->

    </div>
    <button class="load-more">Load More</button>
  </div>

<%= render "shared/footer" %>
