<div class="sticky-top bg-light">
    <div class="border-top">
      <div id="category" class="d-flex justify-content-around pt-2 pb-2 shadow-bottom">
        <div id="myBtnContainer">
          <button class="bttn active" onclick="filterSelection('all')"> Show all</button>
          <button class="bttn" onclick="filterSelection('Culture')"> Art & Culture</button>
          <button class="bttn" onclick="filterSelection('Entertainment')"> Entertainment</button>
          <button class="bttn" onclick="filterSelection('Food')"> Food & Drinks</button>
          <button class="bttn" onclick="filterSelection('Sports')"> Sports</button>
          <button class="bttn" onclick="filterSelection('Tours')">Tours</button>
          <button class="bttn" onclick="filterSelection('Sightseeing')"> Sightseeing</button>
          <button class="bttn" onclick="filterSelection('Outdoors')"> Nature & Outdoors</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-1">
  <% @activities.each do |activity| %>
    <div class="filterDiv shadow <%=activity.category%>">
      <%= link_to activity_path(activity) do %>
        <div class="tour_image" style="background-image: url(<%=activity.image%>);"></div>
        <h5 class="tour_name"><%=activity.title%></h5>
        <p class="tour-content"><i class="fa-solid fa-map-pin"></i> <%=activity.localization%></p>
        <p class="tour-content elips"><%=activity.description%></p><br>
        <%= link_to activity_path(activity) do %>
          <p class="btn btn-primary place-button">See more</p>
        <%end %>
        <p class="tour_pricing black"><%if activity.price_per_day != 0 %>
        From <strong>EUR <%=activity.price_per_day %></strong>
        <%else%>
        <%="Free activity"%>
        <%end%>
        </p>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  filterSelection("all")
  function filterSelection(c) {
    var x, i;
    x = document.getElementsByClassName("filterDiv");
    if (c == "all") c = "";
    // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
    for (i = 0; i < x.length; i++) {
      w3RemoveClass(x[i], "show");
      if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
    }
  }

  // Show filtered elements
  function w3AddClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      if (arr1.indexOf(arr2[i]) == -1) {
        element.className += " " + arr2[i];
      }
    }
  }

  // Hide elements that are not selected
  function w3RemoveClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      while (arr1.indexOf(arr2[i]) > -1) {
        arr1.splice(arr1.indexOf(arr2[i]), 1);
      }
    }
    element.className = arr1.join(" ");
  }

  var header = document.getElementById("myBtnContainer");
  var btns = header.getElementsByClassName("bttn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
    });
  }
<%end%>
