<!-- Show activity -->
<div class="activity">
  <div class="container-fluid">
    <div class="mt-2 mb-1">
<!-- Title -->
    <h2><%= @activity.title %></h2>
    </div>
  </div>
    <div class="row mt-2 mb-1">
<!-- Column 1-->
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mx-auto mb-2 mt-4">
<!-- Picture-->
        <div class ="image">
          <%= image_tag @activity.set_image, {:class => "activity-detail"} %>
        </div>
        <div class= "picture">
          <h3><%= @activity.description %></h3>
          <p><i class="fas fa-utensils"></i>  <%= @activity.category %> </p>
          <p><i class="fa-solid fa-map-pin"></i>  <%= @activity.localization %></p>
        </div>
      </div>
<!-- Column 2-->
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mx-auto mb-4 mt-4">
        <%# <div class="review col-6 p-2 d-flex flex-column justify-content-around"> %>
<!-- Booking CTA-->
        <%= link_to new_activity_booking_path(@activity) do%>
        <button class="btn btn-primary" >Book now</button>
        <%end%>
<!-- Reviews -->
      <div class="card-review">
        <div class="reviews col-4 p-2">
          <h3>Reviews</h3>
          <% if @activity.average_rating != (1..5) %>
            <%= "No reviews yet" %>
          <% else %>
            <%= @activity.average_rating.round(1) %>
          <% end %>
          <% @reviews.each do |review| %>
            <p>
              <% Review::AUTHORIZED_RATINGS.each do |number| %>
                <i class="test fa<%= (number > review.rating) ? 'r' : 's' %> fa-star"></i>
              <% end %>
            </p>
            <p>"<%= review.comment %>" - <% user = User.find(@activity.user_id) %> <%= user.first_name %> </p>
          <% end %>
        </div>
      </div>
      <div>
          <h2 class="review-pricing"><%= @activity.price_per_day %>€</h2>
      </div>
    </div>
  </div>
</div>
