<div class= "pl-8">
  <h2><%= @activity.title %></h2>
  <div class="row">
    <div class="activity col-8 d-flex flex-column justify-content-around">
      <div class ="image">
        <img src="https://source.unsplash.com/9FMDYPCv8mQ/600x300" alt="image">
      </div>
      <div class= "pt-2">
        <h3><%= @activity.description %></h3>
        <p><i class="fas fa-utensils"><%= @activity.category %></p>
        <p><i class="fa-solid fa-map-pin"><%= @activity.localization %></p>
      </div>
      <div class="review col-4 p-2 d-flex flex-column justify-content-around">
        <%= link_to new_activity_booking_path(@activity) do%>
          <button type="btn-primary">Book me!</button>
        <%end%>
      </div>
    </div>

    <div class="reviews col-4 p-2">
      <h3>Reviews</h3>
      <% if @activity.average_rating != (1..5) %>
        <%= "No reviews yet" %>
      <% else %>
        <%= @activity.average_rating.round(1) %>
      <% end %>
      <% @reviews.each do |review| %>
        <p>
          <% Review::AUTHORIZED_RATINGS.each do |number| %>
            <i class="test fa<%= (number > review.rating) ? 'r' : 's' %> fa-star"></i>
          <% end %>
          <p>"<%= review.comment %>" - </p>
          <%# <%= user.username want to add username but I cannot do it%>
        </p>
      <% end %>
    </div>
  </div>
</div>
