<!-- Show activity -->
<div class="activity">
  <div class="container">
    <div class="row mt-2 mb-1">
      <div class="col-6 border-end">
        <div class="d-flex justify-content-between booking-header ">
          <h2><%= @activity.title %> with <%=User.find(@activity.user_id).first_name%></h2>
          <%= render "shared/chips", activity: @activity %>
        </div>
        <div class ="image">
          <%= image_tag @activity.image, {:class => "activity-image"} %>
        </div>
        <div class= "picture">
          <p class="pt-3"><i class="fa-solid fa-map-pin"></i>  <%= @activity.localization %></p>
          <h5 class="pt-3"><%= @activity.description %></h5>
        </div>
      </div>
      <div class="col-6 padding-for-heading">
        <div class="sidel sticky-top">
          <div class="car-7">
            <h2 class="border-bottom pb-2 text-center">Reviews</h2>
            <% if @activity.average_rating != (1..5) %>
              <%="No reviews actually."%>
            <% else %>
              <%= @activity.average_rating.round(1) %>
            <% end %>
              <% @reviews.each do |review| %>
                <p>
                  <% Review::AUTHORIZED_RATINGS.each do |number| %>
                    <i class="test fa<%= (number > review.rating) ? 'r' : 's' %> fa-star"></i>
                  <% end %>
                </p>
                <p class="elips " data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <% user = User.find(@activity.user_id) %> <%= user.first_name %> - <%=review.comment %>
                </p>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"><% user = User.find(@activity.user_id) %> <%= user.first_name %> review :</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <%=review.comment%>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="elips">"<% user = User.find(@activity.user_id) %> <%= user.first_name %> - <%=review.comment %>"</p>
              <% end %>
            <%= link_to new_activity_booking_path(@activity) do%>
              <button class="btn btn-primary bottom-card" >Book now</button>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>