<div class="review">
  <h1 class="p-3">How was your experience?</h1>
  <div class="d-flex p-3 bd-highlight">
    <div class="row">
      <div class="col-4">
        <%= simple_form_for [@booking, @review] do |f| %>
          <%= f.input :comment, placeholder: 'Leave a message to your host' %>
          <%= f.input :rating, collection: Review::AUTHORIZED_RATINGS, include_blank: false %>
          <div class="d-none my-3">
            <% Review::AUTHORIZED_RATINGS.each do |index| %>
              <i id="<%= index %>" class="review-rating far fa-star"></i>
            <% end %>
          </div>
          <%= f.submit "submit", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="col-8">
        <img src="https://images.unsplash.com/photo-1519233181562-35b0b8bb2b1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1774&q=80" class="d-block w-100" alt="2 people doing pottery">
      </div>
    </div>
  </div>
</div>
